//META{"name":"Red Soviet","description":"Another theme made only for Soviet &....Bears?","author":"Sir Spooky","version":"2.0"}*//

/* fonts */

@font-face{
	font-family: Soviet;
	src: url(https://github.com/SrSpooky/Red-Soviet/blob/master/Soviet2.woff?raw=true);
}

@font-face{
	font-family: Soviet X;
	src: url(https://a.pomf.cat/ybmyrz.TTF);
}

/* A */

.add-friend-popout { background: transparent !important; }

#autocomplete-popout .row:hover,
#autocomplete-popout .row.selected{
    background:rgba(255,255,255,0.1);
    border-radius: 5px;
}

#autocomplete-popout section,
#autocomplete-popout header{
    background: rgba(0,0,0,0.9) !important;
    font-family: Soviet,Agency FB  !important;
    color: white !important;
    text-shadow: 0 0 2px black !important;
}

.account .avatar-small {
    width: 50px !important;
    height: 50px !important;
    background-size: cover !important;
    border-radius: 5px;
}

.account .account-details .discriminator{
    background: rgba(0,0,0,.9) !important;
    color: white !important;
    opacity: 1 !important;
    left: 10px !important;
    font-size: 130% !important;
    border-radius: 5px !important;
}

.account .account-details .username{display: none !important;}

.action-buttons .jump-button.loading{
    background: #1a0000 !important;
    background-color: #1a00000 !important;
    border: 1px  !important;
}

.avatar-uploader .avatar-uploader-inner{
	border:none;
    border-radius: 25px;
    background: ;
    background-size: cover;
}

.account .btn-group{
	border: none !important;
}

.account .status{
	background: black
}

.account .btn-mute:hover:after,
.account .btn-mute:after{
    background-image: url(https://i.imgur.com/Z4lrClk.jpg);
    background-size: cover;
}
.account .btn-mute.disabled:after,
.account .btn-mute.disabled:hover:after{
    opacity: 0.9;
    background-image: url(https://i.imgur.com/Gp1kAof.jpg);
    background-size: cover;
}

.account .btn:after{
    border-radius:40px;
}

.account .btn:hover{opacity: 0.8}

.account .btn-settings:after{
	background-image: url(https://i.imgur.com/YGQTCv7.png);
    background-size:cover;
    opacity: 1;
    background-color: rgba(0,0,0,0.9) !important;
}

.account .btn{
    background: transparent !important;
    border: none !important;
    box-shadow: none !Important;
}

.account .btn-deafen.disabled:hover:after,
.account .btn-deafen.disabled:after{
	background-image: url(https://i.imgur.com/mkGHZER.jpg);
    background-size: cover;
}
.account .btn-deafen:hover:after,
.account .btn-deafen:after{
	background-image: url(https://i.imgur.com/euwJeOU.jpg);
    background-size: cover;
}

.account{
    border: none;
    background: transparent;
}

.app{
    font-family:Soviet, Agency FB !important;
    text-shadow: 0 0 10px !important;
    overflow-x: hidden !important;
    overflow: hidden !important;
    background: rgba(0,0,0,0.1) !important;
}

.avatar-large{
	min-width:60px !important;
    min-height:60px !important;
    background-size:60px 60px !important;
	box-shadow:5px 5px 25px black !important;
    transition: .3s ease !important;
}

.avatar-large:hover {
    min-width: 70px !important;
    min-height: 70px !important;
    background-size: 70px 70px !important;
    opacity: 1 !important;
    border-radius: 10px;
    transition: .3s ease !important;
}

/* GET REKT THUNDER */
.avatar-large[style*="138716615779811328"] + .comment .user-name, 
.member-username[data-reactid*="138716615779811328"] {
    font-size:0 !important;
}
.avatar-large[style*="138716615779811328"] + .comment .user-name:after,
.member-username[data-reactid*="138716615779811328"]:after {
    content: "~Thunder"; 
    font-size:41px !important;
}



/* B */

#bd-customcss-detach-controls{border-radius: 1px !important;}

.bda-slist .bda-name {
	color: red !important;
    font-size: 130% !important;
    text-shadow: 0 0 5px black !important;
}

.bda-slist .bda-description {
	color: white !important;
    border-top: 1px dashed red !important;
}

.bda-slist li:hover {
	background: rgba(190,0,0,0.5) !important;
    transition: .3s ease-in-out !important;
    box-shadow: 0 0 5px black !important;
}

.bda-slist li {
	background: rgba(96,0,0,0.5) !important;
    border: none !important;
    border-bottom: none !important;
    box-shadow:inset 0 0 10px black !important;
    color: white !important;
    transition: .3s ease-in-out !important;
}

.btn-confirm.active .icon-logout, .btn-confirm:hover .icon-logout,
.btn-confirm .icon.icon-logout{
	background-image: url(https://i.imgur.com/me3nXKI.png);
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    border-radius: 19px;
    transition: .5s ease
}

.btn-confirm .btn:first-of-type:hover{
	background-color: rgba(0,0,0,0.6);
}

.btn-confirm.active .btn{
	background-color: rgba(0,0,0,0.7);
    border-radius: 1px;
    transition: .5s ease;
}

.btn-confirm.active .btn:last-of-type:not(:first-of-type){
	background-color: rgba(0,0,0,0.7);
    font-family: Soviet, Agency FB;
}

.btn-confirm.active .btn:last-of-type:hover:not(:first-of-type){
	background-color: rgba(1,0,0,0.8);
    color: #AA2323;
}

.badge{
    background: linear-gradient(to top left,red,#EA4682);
    text-shadow: 0 0 1px ;
    color:white;
}

.bot-tag {
	background: transparent;
    font-family: consolas;
    font-size: 0px;
    cursor: pointer;
}

.bot-tag:after{
	content:" ☪ ";
    background-size: cover;
    font-size: 25px;
    background: rgba(96,0,0,0.9);
    border-radius:5px;    
}

#bd-pub-button{background: orange;}

#pubs-header,
#pubs-footer{
	background: transparent !important;
}

.server-row{
	background: transparent !important;
    border-bottom: 0px;
    border-radius: 3px;
    transition: .3s ease !important;
}


#pubs-container {
	background:rgba(0,0,0,0.9)!important;
    transition: 3s ease !important;
}

#pubs-container:hover{
	background:red !iportant;
    transition: 3s ease !important;
}

#bd-customcss-attach-controls{
    background: #600 !important;
    border: none;
    box-shadow:inset 0 4px 8px 0 black;
}

.bda-dark .server-info button{
	font-family: Soviet,Agency FB ;
    border-radius: 5px;
    color: red;
    background-color: #1a0000
}

button.win-minimize{
	background-color: #600 !important;
    border-radius:20px;
}

button.win-maximize{
	background-color: #600 !important;
    border-radius:20px;
}

button.win-close{
	background-color:red !important;
    border-radius:10px !important;
}


/* Sorry BetterDiscord :C */
.bd-settings > div:last-child{display: none !important}

#bd-customcss-detach-container{
    padding-top: 0px !important;
    width: 310px;
    background-color:transparent;
}


#bd-customcss-detach-container #bd-customcss-detach-controls-buttons button{
	background-color: #1a0000;
    border-radius: 5px;
    font-family: Soviet,Agency FB ;
    color: red;
}

#bd-customcss-detach-container #bd-customcss-detach-controls-buttons:hover button{
    text-shadow: 0 0 10px;
}

#bd-show-channels{
	font-family: Soviet, Agency FB;
    background:transparent ;
    top: 110px;
    left: 1px;
    font-size: 30px;
    color: white;
    width: 20px;
    height: 30px;
    border-radius: 5px;
}

.btn-help:hover{background: #600 !important;}



/* C */

.CodeMirror-linenumber{
	box-shadow: inset 0 0 1px grey;
    text-align: center
}

.chat form{
	margin: 0px;
    background-color: rgba(0,0,0,0.3) !important;
    background-image:url(https://i.imgur.com/dCrFBih.jpg)  !important;
    box-shadow:inset 10px 0px 20px -10px black !important;
    background-position: top !important;
    background-size: cover
}

.channel-textarea-inner{
    background:none !important;
    border: none;
    font-family: Consolas;
}

.channel-textarea-inner textarea{
	border: none !important;
    background:transparent  !important;
    text-align: center !important;
    font-family: Consolas !important;
    color: white;
}

.channels-wrap{
	background-image: url(https://i.imgur.com/A43LQuw.jpg) !important;
    background-size: cover !important;
    background-position: -690px !important;
}

.confirm-message-modal .form-inner{background: rgba(0,0,0,0.9) !important;}

.chat 
.new-messages-bar button:last-child{color: white !important}

.chat .new-messages-bar:hover { background: #600 !important; }

.chat .divider.divider-red>div { background: transparent !important; }

.chat .divider {
	background: rgba(190,0,50,0.9) !important;
    border-radius: 1px;
}

.context-menu { background: rgba(0,0,0,0.9) !important; }

.context-menu .item,
.context-menu .item:hover { background: transparent !important; }

.change-log-button-container .change-log-button{
	color: orange !important;
    font-family: Soviet,Agency FB  !important;
    font-size: 110% !important;
}

.change-log-button-container .change-log-button:hover{
    transition: .3s ease-in-out !important;
    text-shadow: 0 0 10px !important;
}

.change-log .changelog-in-progress:after {
	content: " (Coming Soon)" !important;
    font-family:Agency FB !important;
}

.change-log .changelog-added, .change-log .changelog-added-secondary:after {
	content: " (New Stuff)" !important;
    font-family:Agency FB !important;
}

.change-log .changelog-fixed:after {
	content: " (Fixed)" !important;
    font-family:Agency FB !important; 
}

.change-log .changelog-fixed,
.change-log .changelog-added, 
.change-log .changelog-added-secondary,
.change-log .changelog-in-progress { text-shadow: 0 0 2px black !important;}

.create-guild-container .action { background: rgba(0,0,0,0.5) !important; }

.create-guild-container { background: transparent !important; }

.chat .new-messages-bar{
	background-color:#BF3F3F;
    color: white;
    border-radius:0px 0px 10px 10px;
}

.chat .jump-to-present-bar .spinner .spinner-item {
    background-color:red;
}

.channel-members .bot-tag:after{
	content: "☪";
    font-size: 18px;
    background: transparent;
}

.channel-members:after h2,
.channel-members-wrap .channel-members .member .member-username,
.channel-members-wrap .channel-members .member .member-activity,
.channel-members-wrap .channel-members .invite-btn{display:none}

.channel-members-wrap:hover .channel-members:after h2,
.channel-members-wrap:hover .channel-members .member .member-username,
.channel-members-wrap:hover .channel-members .member .member-activity,
.channel-members-wrap:hover .channel-members .invite-btn{display:block}


.CodeMirror pre{
    font-family: consolas;
    font-size: 12px;
}

.channel-members .member.popout-open{
    background: rgba(0,0,0,0.5) !important;
    border-radius: 5px;
}

.channel-members 
.member 
.member-activity, 
.channel-members 
.member 
.member-username-inner{
	text-shadow: 0 3px black;
}

.CodeMirror > ::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0.1);
    border:none !important;
    border-radius: 0px;
}

.CodeMirror > ::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.1);
    border: 3px;
    border-radius: 5px;
    background: rgb(0,0,0);
}

.CodeMirror > ::-webkit-scrollbar,
.CodeMirror > ::-webkit-scrollbar-track {
    background: transparent;
    width:10px;
    height: 10px;
    
}

.CodeMirror-scrollbar-filler {
    background: rgba(0,0,0,0.1) !important;
}

.checkbox:active .checkbox-inner input[type=checkbox]:checked+span{
    transform:scale(0.5);
    transition:all 100ms ease;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span{ 
    animation-name: checked-bg;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0,1.06,.39,1.71);
    animation-duration: 300ms;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after{
    background:transparent;
    transition: all 500ms ease;
    transition-delay: 1s;
    animation-name: checked;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
}


#clockPluginClock {
	left: 530px !important;
    top: 700px;
    background: transparent;
    font-family: Soviet, Agency FB;
    text-shadow: 0 0 10px;
    font-size: 30px;
    position: center; 
}

.content{
	background:transparent !important;
    padding: 0px;
    color: white !important;
}


.channel-notification-settings .content label{
	font-family:Soviet,Agency FB ;
    color: red;
}


.checkbox .checkbox-inner+span{
	font-family:soviet,Agency FB ;
    text-shadow: 0 0 3px black;
}

.channel-textarea-emoji>.sprite-item,
.channel-textarea-emoji.popout-open .sprite-item{
	background-image:url(https://i.imgur.com/TI4ziAG.png)!important;
}

.callout-backdrop{
	background:transparent !important;
}

.channel-members{
    background-image:url(https://i.imgur.com/CFNcLbr.jpg) !important;
    box-shadow:inset 10px 0px 20px -10px #000000 !important;
    background-size: cover;
}

.channel-members:hover{ 
    opacity:1 !important;
}

.channel-members h2 {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.channel-members-wrap{
    min-width:70px !important;
    width:70px !important;
    font-family:Soviet,Agency FB  !important;
    text-shadow:0 0 1px !important;
    transition:all 300ms ease !important;
    overflow-x:hidden !important;
}

.channel-members-wrap:hover {
    min-width:240px !important;
    width:240px !important;
    transition:all 300ms ease !important;
    overflow-x:hidden !important;
}

.channel-textarea-autocomplete-inner {
    background:rgba(0,0,0,0.85)!important;
    border:none !important;
}

.channel-textarea-autocomplete-inner:after {
    display:none !important;
}

.channel-textarea-autocomplete-inner header {
    background:rgba(0,0,0,0.85)!important;
    border-radius:5px 5px 0 0 !important;
    border:none !important;
}

.channel-textarea-autocomplete ul li.active {
    background:rgba(255,255,255,0.1)!important;
}


.checkbox
.checkbox-inner input[type=checkbox]:checked+span{
	background-color:red !important;
    border-color:red !important;
}

.checkbox .checkbox-inner+span{
	color: red !important
}


.channel.channel-text a {
    color: red !important;
    opacity: .0;
    text-shadow: 0 0 5px black !important;
}



/* D */

div.scroller.messages {
    background: transparent;
}

div.message-group {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 20px;
}

.divider-red>span {
	background-color:transparent !important;
    color:orange !important;
}

div.popout popout-top-right no-arrow no-shadow{
	background:red !important;
}


/* E */

.emote{cursor: pointer;}

.embed .embed-video-actions:hover{background: rgba(0,0,0,0.5);}

.embed .embed-video-actions{
    background: transparent;
    border-radius: 5px;
    transition: .3s ease-in-out !important;
}

.embed .embed-video-actions .embed-video-popout{
	display: none;
}

.embed .embed-video-actions .embed-video-play:hover{
	background-image: url(https://i.imgur.com/kZoRluf.png);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    transition: .3s ease;
    
}

.embed .embed-video-actions .embed-video-play{
	background-image: url(https://i.imgur.com/WxdBVpJ.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    transition: .3s ease;
    border: 10px;
}

.embed .embed-video-actions 
.embed-video-actions-inner{
	border-radius: 100%;
    border: none;
    background:rgba(0,0,0,0.7);
    transition: .5s ease;
}


.edit-message .avatar-large {display:none !important;}
.edit-message {margin-left:-20px !important ;}

.emoji:hover, .emote:hover {
    transform: scale(1.2,1.2) !important;
    transition: .3s ease !important;
}
.emoji, .emote {
    transform: scale(1, 1) !important;
    transition: .3s ease !important ;
}



/* F */

.form header{color: red}

.form .form-header{
    background: rgba(0,0,0,0.9);
    border-bottom: none !important;
}

.form .form-actions{
    background: rgba(0,0,0,0.9);
    border-top: none !important;
}

.form .form-inner{background: rgba(0,0,0,0.9) !important;}

.form .btn-default:hover{text-decoration: underline !important;}

.form .btn-default{
    background: transparent !important;
	font-family: Consolas !important;
    color: orange !important;
    border-bottom: none !important;
}

#friends .btn:hover{ background: red !important; }

#friends .btn {
	background: white;
    color: #600 !important
}

#friends 
.friends-table 
.friends-table-header { display: none; }

#friends 
.friends-empty.section-pending 
.empty-state-image {
    background-image: url(/assets/8b2623dcfd6bbf07e6a6b8f8402cd21f.png) !important;
}

#friends .friends-empty p{
    color: white !important;
    text-shadow: 0 0 2px black !important;
}

#friends 
.friends-empty.section-blocked 
.empty-state-image {
    background-image: url(/assets/fed3c2dcbbb79837d568cb8d648c86d6.png) !important;
}

.form .radio-group .radio{
	font-family: Soviet,Agency FB  !important;
    color: white !important;
    text-shadow: 0 0 2px black !important;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups{
	margin-top:0px !important;
}

.fav{
	background-image: url(https://i.imgur.com/sB9x1yC.png);
    background-size:cover;
    top:20px
}

#friends,
.friends-table,
.messages-wrapper {
    background-image:url(https://i.imgur.com/03MXtQp.jpg) !important;
    box-shadow:inset 10px 0px 20px -10px #000000 !important;
    background-size:cover !important;
    background-position: center !important
}

.friends-header,
.friends-table-header{
	border-bottom:none !important;
    background:transparent !important;
}


.friends-row{
	background:linear-gradient(to left, rgba(96,0,0,0.9), rgba(0,0,0,0.9))!important;
    box-shadow:0 0 10px !important;
    transition: .3s ease !important;
}

.friends-row:hover{
	background:linear-gradient(to left, rgba(255,0,0,0.9), rgba(96,0,0,0.9)) !important;
    transition: .3s ease !important;
}

.form .btn-primary {
	background-color: #1a0000 !important;
    font-family:soviet,Agency FB  !important;
    color: red !important;
    transition: .1s ease !important;
}

.form .btn-primary:hover{
	text-shadow: 0px 0px 10px !important;
    font-size:20px !important;
    transition: .1s ease !important;
}

.form .control-group input[type=email], 
.form .control-group input[type=password], 
.form .control-group input[type=text], 
.form .control-group textarea {
	border-radius:3px !important;
    background-color:transparent !important;
    color:red !important;
    text-shadow: 0 0 15px !important;
}

.form hr{display:none}



/* G */

.guild-channels{
    background: transparent !important;
    border-top: none !important;
}

.guild-header ul{
    color:transparent !important;
    background: transparent !important;
    transform: rotateY(90deg) !important;
    transition: .3s ease-in-out !important;
}

.guild-header.guild-header-open ul{
    background: rgba(0,0,0,0.9) !important;
    transform: rotateY(0deg) !important
}

.guild-settings-modal-members 
.guild-settings-modal-list 
.member+.member{ border-top: none !important; }

.guild-settings-modal-members{ background: transparent !important; }

.guild-settings-modal-members 
.guild-settings-modal-list 
.member .bot-tag:after{
    content: "☪";
    background: transparent;
    font-size: 15px;
    color: red;
}

.guild-channels .channel-voice a{
    color: red !important;
    opacity: 1;
    text-shadow: 0 0 2px black !important;
    background: rgba(0,0,0,0.9) !important;
    border-radius: 5px;
    text-align: center !important;
}

.guild-channels .channel-voice:hover a{
    color: red !important;
    background: rgba(96,0,0,0.9) !important;
}


.guild-channels .channel .channel-name:before{
    color: red !important;
    text-shadow: 0 0 2px black;
}

.guild-channels 
.channel-voice-states li span:hover{
	background: rgba(96,0,0,0.9) !important;
    color: red !important;
}

.guild-channels 
.channel-voice-states li span {
    text-shadow: 0 0 2px black !important;
    background: rgba(0,0,0,0.9);
    color: white !important;
    border-radius: 5px !important;
    text-align: center !important;
}

.guild-channels .channel-user-limit:hover { display: block !Important; }

.guild-channels .channel-user-limit {
    background: rgba(0,0,0,0.9);
    text-shadow: 0 2px black !important;
    color: red !important
}

.guild-channels 
.channel-voice-states li .avatar-small {
	width: 30px !important;
    height: 30px !important;
    background-size: cover;
    
}

.guild-channels 
.channel-voice-states {
    margin-top: 0px;
    font-size: 12px;
    padding-left: 0px !important;
}

.guild-settings-modal-members 
.guild-settings-modal-list 
.member .member-username{
    font-family: Soviet, Agency FB;
    opacity: 1;
    font-size: 20px;
    color: white;
}

.guild-settings-modal-members .member-buttons .btn.btn-danger{
	background: rgba(255,0,0,0.8) !important;
    color: #600 !important
}

.guild-settings-modal-members .member-buttons .btn.btn-danger:hover{
	text-shadow:0 0 2px #600 !importnat
}

.guild-settings-modal-members .member-buttons .btn{
	font-family: Soviet,Agency FB  !important;
    color: red !important;
    background: #1a0000 !important;
    border: none !important;
    transition: .3s ease-in-out !important
}

.guild-settings-modal-members .member-buttons .btn:hover{
	text-shadow: 0 0 2px red !important;
    font-size: 110% !important;
}

.guild-header-open{
    background: rgba(0,0,0,0.9);
    color: white !important;
}

.guild-header header { box-shadow: none; }

.guilds-wrapper .guilds .guild.audio .guild-inner:after{
	background-image:url(https://a.pomf.cat/leuhsk.png);
    background-size: cover;
    left: -10px;
}

.guilds-wrapper .guilds .guild-placeholder{
	border: 1px dashed red !important;
    background: rgba(0,0,0,0.25)
}


.guilds-wrapper .guilds-add{
    background-image: url(https://a.pomf.cat/magesi.png);
    background-size: cover;
    font-size: 0px !important;
    border: none;
}

.guilds .guilds-add{
    background-image: url(https://a.pomf.cat/magesi.png);
    background-size: cover;
}

.guilds-wrapper .guilds .friends-online{
    color: white;
    font-size: 15px;
    font-family:Soviet, Agency FB ;
    background: orange !important;
    border-radius: 4px;
}

.guilds-wrapper .guild-separator:after { display: none;}


.guilds-wrapper .guilds .guild .badge {
    background: linear-gradient(to top left,red,#EA4682);
    left: -10px;
    width: 6px;
    text-shadow: 0 0 1px ;
    color:white;
}


.guilds-wrapper .guilds .friends-icon{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/wvnYdPU.png) !important;

}

.game-input{
    color: white !important;
    font-family:Comic Sans MS !important;
}

.guild-channels .channel-text.selected:before, 
.channel-text.selected:hover, 
.channel-text:hover {
    border-left: none !important;
}

.guilds-wrapper{
    background-image:url(https://i.imgur.com/CFNcLbr.jpg) !important;
    box-shadow: inset -10px 0px 20px -10px black !important;
    background-size: cover;
    min-width: 25px !important;
    width: 25px !important;
    transition: 300ms ease-in-out !important;
}

.guilds-wrapper:hover{
    min-width:80px !important;
    width:80px !important;
    transition: 300ms ease-in-out !important;
}

.guilds.unread 
.guild-inner:before,
.guild-channels 
.channel-text.unread:not(.selected):not(.channel-muted):before {
	background:red !important;
}
 
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before{
    width: 55px !important;
    height: 55px !important;
    margin-top: -27.6px !important;
    margin-left: 18.3px !important;
    border-radius:30% !important;
}

.guilds-wrapper .guilds .guild.unread:before {
    background-color: rgb(255, 102, 0) !important;
}

.guild-header header{
    font-family: Soviet,Agency FB  !important;
    font-size: 160% !important;
    color: red !important;
    transition: .2s ease-in-out;
    background: transparent !important;
    text-shadow: 0 0 2px black !important;
}

.guild-header:hover header{
	color:white !important;
    transition: .2s ease
}

.guilds-separator{
	display:none !important;
}

.guild-channels .channel-text.selected{
	background: rgba(100,0,0,0.8) !important;
    transition: .2s ease !important;
    border-radius: 3px !important;
}

.guild-channels .channel-text:hover{
	background:rgba(96,0,0,0.5) !important;
    transition: .2s ease;
}

.guild-channels .channel-voice-states li .icon-deafened{
	background-image:url(https://i.imgur.com/bm4XdPu.png) !important;
    background-size: cover;
}

.guild-channels .channel-voice-states li .icon-muted{
    background-image: url(https://i.imgur.com/Ux6H1x8.png) !important;
    background-size: cover !important;
}




/* H */

.header-toolbar button.active{
	opacity: 0.6 !important;
    border-radius: 50px;
}

.header-toolbar .toolbar-badge{
	border: none !important;
    width: 32px !important;
    height: 32px !important;
    left: -1px !important;
    top: -1px !important;
    background:none;
    animation: Pulse 3s ease-in-out infinite;
    border-radius: 50px;
    position: center;
}

.header-toolbar button:hover{
	opacity: 0.6;
}

.header-toolbar button span{
	background-color: orange;
    border-radius: 50px;
    opacity: 1
}

.help-container,.links {display:none !important;}




/* I */

.instant-invite-popout hr{border: none !important;}

.invite-button-icon.expired{
    background: #931513;
    color: red;
}

.invite-button-icon.accepted{background: #0C78B7}

.invite-button-icon{
	border-radius: 5px;
    border: none;
    background: rgba(0,0,0,0.4);
}
.icon.icon-file.webcode{
	background-image:url(https://i.imgur.com/hftA4b0.png);
    background-size: cover;
}

.icon.icon-file.archive{
	background-image: url(https://i.imgur.com/xiSXiSi.png);
    background-size: cover;
}

.icon.icon-file.code{
	background-image: url(https://i.imgur.com/p5N5FrH.png);
    background-size: cover;
}

.image{border-radius: 5px;}

.inline{
	font-family: Courier New !important;
}

.icon.icon-file{
	background-image: url(https://i.imgur.com/oIILopF.png);
    background-size: cover;
}




/* M */

.message-group .comment .markup code.inline:after{
	content: " <" !important;
}

.message-group .comment .markup code.inline:before{
	content: "> " !important;
}

.message-group .comment .markup code.inline{
    background: black !important;
    color: green !important;
}

.message-group .sink-interactions{display: none !important;}

.modal-content .form-inner p{color: red}

.message-group .edit-message .channel-textarea-inner textarea{
    font-family: Soviet !important;
    color: white;
}

.message-group .edit-message .channel-textarea-inner{
    background: rgba(0,0,0,0.5) !important;
    border-radius: 10px;
    font-family: Soviet, Agency FB !important;
}

.markdown-modal{
    background: rgba(0,0,0,0.9) !important;
    font-family: Soviet, Agency FB !important;
}

.markdown-modal .markdown-modal-header{border-bottom: none !important;}

.message-group h2 .timestamp {
    color: rgba(255,255,255,0.5) !important;
	text-shadow: 0 0 2px black !important;
    background: rgba(0,0,0,0.5);
    border-radius: 10px !important;
    padding: 3px;
}

.message-group h2 .timestamp:hover { color: white !important; }

.messages-popout 
.message-group 
.action-buttons .jump-button {
	background: #1a0000 !important;
    font-family: Soviet, Agency FB  !important;
    color: red !important;
}

.messages-popout 
.message-group a {
    color:#EA4682 !important;
    font-family: Courier !important;
}

.messages-popout 
.message-group .comment .markup {
    font-family: Soviet,Agency FB  !important;
}

.message-group:hover .action-buttons {
    box-shadow: 0 0 6px 0px rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
}

.markdown-modal .markdown-modal-footer{
	background: transparent !important;
    border: none !important;
}

.message-group .comment .markup{
	box-shadow: 0 0 5px black;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    text-shadow: 0 0 3px black;
}


.message-group .comment .markup pre code {
    font-family: Courier
}

.member {
    transition: .1s ease !important;
}
.member:hover {
    transition: .1s ease !important;
    background: transparent !important;
}

.member-username-inner:before,.user-name:before{
    content: "~" !important;
}

.messages {
    box-shadow:inset 10px 0px 20px -10px #000000 !important;
    background-image: url(https://i.imgur.com/TUzuWN6.jpg) !important;
    background-size: cover !important;
    backgroubd-position: center !important;
	font-family: Soviet, Agency FB;
}

.messages .mentioned .message-text {
    background:rgba(204,0,102,0.5) !important;
}
.messages .mentioned .message-text:after {
    border-color:rgba(204,0,102,0.5) !important;
}



/* N */

.notification-settings-modal .notification-settings-modal-channel-settings-list{
	background:transparent;
}
.notification-settings-modal .settings-section{
    background:transparent;
}

.now-playing{
	background-color:#f26522 !important;
    font-family: Comic Sans MS !important;
}



/* P & R & S */

.radio .radio-inner{
	background: rgba(96,0,0,0.5) !important;
    border: none !important;
    border-radius: 5px !important;
}

.radio-inner input[type=radio]:checked+span:after{
	border-radius: 3px !important;
}

.radio:hover span:after{
	background: red !Important;
    border-radius: 3px !important;
}

.server-icon{
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.server-icon:hover{
	border-radius: 10px;
    width: 70px;
    height: 70px;
    background-size: cover;
    transition: .3s ease-in-out;
}

.settings .settings-inner { background: rgba(0,0,0,0.9); !important }

#permissions .permission-actions {
    font-family: Soviet, Agency FB !important;
    color: white !important;
}

.private-channels { background: transparent !important;}


#settings-roles .roles{border:none !important;}

#settings-roles .roles li.selected:before{
	background: #600 !important;
    color: #600 !important;
}

#settings-roles .roles li:hover:before{
	background: rgba(96,0,0,0.5) !important;
    color: rgba(96,0,0,0.5) !important;
}

#settings-roles .roles li:hover{
    background: rgba(255,255,255,0.1) !important;
    cursor: pointer;
}

#settings-roles .roles li.selected{
	background: rgba(255,255,255,0.1);
    border-left:none !important; 
}

.settings .settings-inner .settings-panel-header {
    border-top: none !important;
    border-bottom: none !important;
}

.private-channels .channel .channel-name{
	color: red !important;
    opacity: 1;
    text-shadow: 0 0 2px black;
    background: rgba(0,0,0,0.7) !important;
    border-radius: 5px;
}

.protip{font-family: Consolas !important;}

.private-channels 
.search-result.selected, 
.private-channels .search-result:before { background: transparent; }

.private-channels 
.search-result.selected, 
.private-channels .search-result:hover{
	background: rgba(0,0,0,0.9) !important;
    border-radius: 10px !important;
}

.search-bar { background: rgba(0,0,0,0.5) !important; }

.popout header { background: rgba(0,0,0,0.9) !important; }

.private-channel-call .btn-icon-settings:after{
	background-image: url(https://i.imgur.com/PhCMXze.png) !important;
    background-size: cover !important;
    opacity: 1 !important;
    border-radius : 5px !important;
}

.popout section{background-color: rgba(0,0,0,0.9) !important;}

.search-bar input{
    background: rgba(0,0,0,0.9);
	color: white !important;
}

.slider-handle{
	background: #600 !important;
    border-radius: 10px !important;
    border: none !important;
}

.private-channels 
.channel.selected 
.icon-friends,
.private-channels 
.channel 
.icon-friends{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: 50%;
    background-repeat: no-repeat;
	background-color:#FFBF00 !important;
    background-image:url(https://i.imgur.com/pjFsgMv.png)
}

.private-channels 
.channel:hover 
.channel-activity, 
.private-channels 
.channel:hover a {
	box-shadow: inset 0 0 10px black;
    background:rgba(0,0,0,0.9);
}

.private-channels 
.channel:before a{background: transparent !important} 

.private-channels 
.channel.selected a {
	box-shadow: inset 0 0 20px black;
    background:rgba(0,0,0,0.9) !important;
    border-left: none !important;
}

.slider-bar-fill {
	background:linear-gradient(to left,red,#600)  !important;
	border:1px solid black !important;
}

.radio-inner input[type=radio]:checked+span:after{ 
    background: red !important;
}   

.spoiler span{display:none;}
.spoiler::before {
    font-family:Consolas !important;
    min-height:18px !important;
    padding-top:2px !important;
    border-radius:5px !important;
    background:rgba(153, 51, 51,0.7) !important;
}

.settings-header{
    background: rgba(0,0,0,0.9) !important;
}

.settings
.settings-inner
.settings-panel{
	background-color: transparent !important;
	color: #ff5050 !important;
    font-family: Soviet,Agency FB  !important;
    overflow-x: hidden !important;
}

.settings
.settings-actions{
	background-color: rgba(0,0,0,0.9) !important;
	border-top:none !important;
    border-radius: 0px 0px 10px 0px !important;
}

.settings-wrapper{
    background:transparent !important;
	color:white !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0.9) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0.3) !important;
}

.shortcut-recorder input[type=text] {color:white !important}

.small-popout-box {background: #600000}
.small-popout-box .btn-item {
    color :white !important;
    font-family:Soviet, Agency FB  !important;
    transition: .2s ease !important;
}

.small-popout-box .btn-item:hover {
    color: red !important;
    transition: .2s ease !important;
}



/* T */

.theme-dark .message-group .comment .markup pre{
    border:2px solid #600 !important;
}

.theme-dark .chat form .typing span{
	position: center !important;
}

textarea{background: transparent;}

.typing {
	position: center !important;
}

.theme-dark .themed-popout .header,
.private-channel-recipients-invite .error-state{
	background-color: transparent !important;
}

.theme-dark .themed-popout{
	background: transparent !important;
    border: none !important;
}

.theme-dark .channel-pins-wrap .channel-pins .message-group{
	background: transparent;
    border: none;
    font-family: Soviet, Agency FB;
}

.theme-dark .channel-pins-wrap .footer{
	background: rgba(0,0,0,0.9);
}

.theme-dark .channel-pins-wrap{
	background: rgba(0,0,0,0.9);
    border: none;
}

.theme-dark .chat .jump-to-present-bar {
    background-color: #1a0000;
}
.theme-dark .chat .jump-to-present-bar:hover {
    background-color: rgba(0,0,0,0.5);
}

.theme-dark .channel-pins-wrap .header{
    background: transparent;
	box-shadow: none;
}

.theme-dark .channel-textarea-autocomplete-inner ul li .bot-tag:after{
	background: transparent;
    color: red;
    font-size: 15px;
    content: "☪";
}

.theme-dark .message-group .comment .markup .highlight{
	font-family: Agency FB;
    color: orange;
    background: transparent;
}

.theme-dark .message-group .comment .markup .highlight:hover{
    text-shadow: 0 0 2px !important;
    background: transparent;
	color: orange;
    text-decoration: underline
}

.theme-dark 
.channel-textarea-inner 
.channel-textarea-upload,
.theme-dark 
.channel-textarea-inner 
.channel-textarea-upload:hover{
	background-image: url(https://a.pomf.cat/tndzsd.png) !important;
    background-size:cover;
    border: none;
}

.tab-bar.TOP {border-bottom: 0px !important;}
.tab-bar.SIDE {margin-right: -17px !important;}

.tab-bar.SIDE .tab-bar-item:before{
	border-left:4px solid #ff4d4d !important;
}

.tab-bar-item{
	font-family:Soviet,Agency FB  !important;
    font-size:120% !important;
    color:red !important;
    transition: .1s ease !important;
}
.tab-bar-item:hover{
    text-shadow:0 0 10px !important;
    font-size:140% !important;
    transition: .1s ease !important;
}

.typing{
    background:transparent !important;
    text-align: center;
    transition: .3s ease-in-out;
}

.topic {
	font-family:Comic Sans MS !important;
    text-shadow:0 0 10px !important;
}

.title-wrap {
	border-bottom:none !important;
	background-image:url(https://i.imgur.com/CFNcLbr.jpg) !important;
    font-family: Soviet,Agency FB  !important ;
    text-shadow: 0 0 10px !important;
    background-position: bottom !important;
    background-size: cover !important;
}

.tooltip {
    font-family:Comic Sans MS !important;
    text-shadow:0 0 10px !important;
    background-color:#600000 !important;
}

.tooltip.tooltip-left:after {
    border-right-color:#600000 !important;
}

.tooltip.tooltip-right:after {
    border-right-color:#600000 !important;
}

.tooltip.tooltip-bottom:after{
    border-bottom-color:#600000 !important;
}

.tooltip.tooltip-top:after {
    border-top-color:#600000 !important;
}



/* U */

.user-settings-security .btn-ghost{
	background: #1a0000 !important;
    border: none !important;
    font-family: Soviet, Agency FB !important;
    color: red !important;
}

.upload-modal 
.inner .comment 
.channel-textarea 
.channel-textarea-inner textarea{
	text-align: left !important;
}

.upload-modal 
.inner .comment 
.channel-textarea 
.channel-textarea-inner{
	border: 2px solid rgba(255,255,255,0.5) !important;
    background: rgba(255,255,255,0.1) !important;
}

#user-profile-modal footer .btn.add-friend{background: #6AB772;}

#user-profile-modal footer .btn.add-friend:hover{background: #6CC976;}

#user-profile-modal .empty{background: rgba(0,0,0,0.9);}

#user-profile-modal footer{
	background: rgba(0,0,0,0.9);
    border: none;
}

#user-profile-modal .header{background: rgba(0,0,0,0.9);}

#user-profile-modal .status-online{
	border: none;
}

#user-profile-modal .bot-tag:after{
	background: transparent;
    content: "☪";
    color: red !important;
    text-shadow: 0 0 5px;
}

#user-profile-modal .avatar-profile,
.user-popout .avatar-wrapper .avatar-popout{
	border:none;
    background-color:none;
    border-radius: 5px;
}

#user-profile-modal .btn{
	background: #1a0000;
    color: red;
    font-family: Soviet, Agency FB;
    transition: .2s ease;
}

#user-profile-modal .btn:hover{
	background: #1a0000;
    font-size: 20px;
    text-shadow: 0 0 5px;
    transition: .2s ease;
}

#user-profile-modal .guilds .avatar-large{
	color: transparent;
}

#user-profile-modal .guilds .guild{
	color: white;
    transition: 2s ease
}

#user-profile-modal .guilds .guild:hover{
	background: rgba(255,0,0,0.3);
    box-shadow: 0 0 10px black;
    color: white;
    text-shadow: 0 0 7px;
    transition: 2s ease
}

#user-profile-modal .tab-bar{
	background: rgba(0,0,0,0.9);
}

#user-profile-modal .sub-header{
	background: rgba(0,0,0,0.9);
}


#user-profile-modal .scroller{
	background: rgba(0,0,0,0.9);
} 

.user-popout .header{
    background: transparent;
}

.user-popout .footer .quick-message-wrapper .input{background: transparent;}

.user-popout .header{background:rgba(0,0,0,0.7) !important;}

.user-popout .body{background:rgba(0,0,0,0.7) !important;}

.user-popout .footer{
	background:rgba(0,0,0,0.7) !important;
    border-top: none;
}

.user-popout .bot-tag{background: transparent;}
.user-popout .bot-tag:after{
	background: transparent;
    content:"☪";
    color: red;
    text-shadow: 0 0 1px;
    font-size: 18px;
    transition: .3s ease-in-out;
}

.user-popout .bot-tag:hover:after{
	text-shadow: 0 0 5px;
    transition: .3s ease-in-out;
    color: pink;
}

.user-name{
	font-family:soviet,Agency FB  !important;
    font-size:240% !important;
    background-color:transparent !important;
    text-shadow:0 0 9px black !important;
}

.user-name:hover{
    text-shadow:0 0 15px !important;
    text-decoration: none !important;
    transition: .1s ease !important;
}

.user-popout .user-popout-options .btn {
	background-color:#600000 !important;
	border:1px solid #600000 !important;
}

.user-popout .user-popout-options .btn:hover {
	background-color:#600000 !important;
	border:1px solid #600000 !important;
}

.user-settings-modal-games{
    background:linear-gradient(to top left, red, green, blue, red) !important;
	color:white !important;
    font-family:Comic Sans MS !important;
    box-shadow:inset 0px 0px 45px !important;
    border-top:0px !important;
    border-radius: 10px !important;
}

.upload-drop-modal .inner .instructions{
    color: hsla(0, 0%, 100%, 0.6);
}

.upload-drop-modal .inner .icon.one {
    background-image: url(https://i.imgur.com/hftA4b0.png);
    background-size: cover;
}
.upload-drop-modal .inner .icon.two {
    background-image: url(https://i.imgur.com/p5N5FrH.png);
    background-size: cover;
}
.upload-drop-modal .inner .icon.three {
    background-image: url(https://i.imgur.com/oIILopF.png);
    background-size: cover;
}

.upload-drop-modal .bgScale{
	background: #600;
    box-shadow: 0 0 10px black !important;
} 

.upload-drop-modal .inner {
    border: 2px dashed red;
}

.upload-modal 
.footer 
.button{
    background:#1a0000 !important;
	font-family: 'Soviet',Agency FB  !important;
    color: red !important;
    text-shadow: 0 0 10px;
}

.upload-modal 
.footer 
.button-primary{
	background: white !important;
}

.upload-modal 
.inner 
.file 
.icon.image{
	border: 2px solid #600 !important;
}

.upload-modal 
.inner{
	border: 2px dashed red !important;
}

.upload-modal,
.upload-modal 
.footer{
	background: #600 !important;
    box-shadow: 0 0 10px black !important;
}

.username{
    font-family: Soviet, Agency FB ;
    text-shadow: 0 0 2px black;
}



/* V */

#voice-connection{
	background: transparent !important;
    border: none;
}

#voice-connection .btn{
	background: transparent !important;
    box-shadow: none !Important;
}

#voice-connection .btn-group{
	border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

#voice-connection .btn-info:after{
	background-image: url(https://i.imgur.com/6fzHL3S.png);
    background-size: cover;
    opacity: 1;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.9) !important;
    box-shadow: none !important;
}

#voice-connection .btn-info:hover:after{
	opacity: 0.9;
}

#voice-connection .btn-disconnect:hover:after{opacity:0.9}

#voice-connection .btn-disconnect:after{
	background-image: url(https://i.imgur.com/d0NdkBV.png);
    background-size: cover;
    opacity: 1;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.9) !important;
    box-shadow: none !important
}



/* W */

::-webkit-input-placeholder{
    font-family: Soviet,Agency FB  !important;
}



/* MIXED */

.theme-dark .message-group .comment .markup strong{
    color: red;
    font-family:Soviet X !important; 
}

.user-popout .avatar-wrapper .avatar-hint { border-radius: 5px }

.theme-dark 
.messages-popout-wrap 
.footer { background: transparent !important; }

.theme-dark .messages-popout-wrap {
    background: rgba(0,0,0,0.9) !important;
    border: none !important;    
}

.theme-dark 
.messages-popout-wrap 
.header { background:transparent !important; }

.theme-dark 
.messages-popout-wrap 
.messages-popout .message-group {
	background: transparent !important;
    border:none !important;
}

.theme-dark .private-channel-call .btn-icon-mute:after{
	background-image: url(https://i.imgur.com/Z4lrClk.jpg) !important;
    background-size: cover !important;
    opacity: 1 !important;
    border-radius: 5px !important;
}

.theme-dark .private-channel-call .btn-icon-mute.mute:after{
    background-image:url(https://i.imgur.com/Gp1kAof.jpg) !important;
    background-size: cover !important;
    opacity: 1;
    border-radius: 5px !important;
}

.theme-dark .chat .private-channel-call{
	background-image: url(https://i.imgur.com/lrWsiv4.gifv) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.theme-dark .messages-wrapper 
.messages .divider:not(.red) span { background: transparent !important; }

.theme-dark 
.friends-table .messages 
.divider:not(.red) div, .theme-dark 
.messages-wrapper .messages .divider:not(.red) div {
    background: transparent !important;
    color: transparent !important;
}

.theme-dark 
.friends-table 
.messages 
.invite-button, 
.theme-dark 
.messages-wrapper 
.messages 
.invite-button{
	background: rgba(0,0,0,0.4);
    border: none;
}


.theme-dark 
.channel-pins-wrap 
.channel-pins 
.message-group:hover 
.action-buttons{
	box-shadow:0 0 0px;
    background: transparent;
    border: none;
}
.theme-dark 
.channel-pins-wrap 
.channel-pins 
.message-group 
.action-buttons 
.jump-button{
    background: #1a0000;
    box-shadow:0 0 0px;
    color: red;
    font-family: Soviet, Agency FB
}

.theme-dark 
.friends-table 
.messages 
.message-group a, 
.theme-dark 
.messages-wrapper 
.messages 
.message-group a {
    font-family: courier;
    color: #EA4682
}

.user-settings-modal-games 
.games-table 
.games-row 
.item-game 
.last-played{color:white !important}

.form 
.control-group label{
    color:white !important;
    font-size:80% !important;
}

.theme-dark 
.messages-wrapper 
.messages 
.divider:not(.red) span{
	color: white !important;
    opacity:1 !important;
    border-radius: 10px;
    text-shadow: 0 0 2px black;
}

.theme-dark 
.messages-wrapper 
.messages 
.message-group 
.comment 
.markup pre code {
	background:#1a0000 !important;
}



/* ANIMATION */

/* Pulse */
@-webkit-keyframes Pulse{
    0%{box-shadow:inset 0 0 30px black;}
    50%{box-shadow:inset 0 0 70px black;}
    100%{box-shadow:inset 0 0 30px black;}
}

/* Checked */
@-webkit-keyframes checked {
    0% {transform: rotate(-45deg) scale(0);}
    100% {transform: rotate(45deg) scale(1);}
}

/* Checked BG */
@-webkit-keyframes checked-bg {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

/* RAINBOW */
@-webkit-keyframes Rainbow {
	0% {color: #ff0000;}
	10% {color:  #ff8000;}
	20% {color:  #ffff00;}
	30% {color:  #80ff00;}
	40% {color:  #00ff00;}
	50% {color:  #00ff80;}
	60% {color:  #00ffff;}
	70% {color:  #0080ff;}
	80% {color:  #0000ff;}
	90% {color:  #8000ff;}
	100% {color:  #ff0080;}
}

/* BD MINIMAL */

.bd-minimal 
.guild .guild-inner, 
.bd-minimal .guild .guild-inner a.avatar-small, 
.bd-minimal .guilds .friends-icon, 
.bd-minimal .guilds-wrapper .guilds .guild{
	width: 50px;
    height: 50px;
}

.bd-minimal .user-name{
	font-size: 30px !important;
}

.bd-minimal .avatar-large{
	border-radius: 550px;   
}

.bd-minimal .theme-dark .comment{
	border-left: none;
    padding-left: 15px;
}

.bd-minimal .guilds-wrapper .guilds .guild,
.bd-minimal .guilds-wrapper .guilds .guild .guild-inner,
.bd-minimal .guilds-wrapper .guilds .guild .guild-inner .avatar-small,
.bd-minimal .guilds-wrapper .guilds .guild .guild-inner .friends-icon {
	min-width: 20px;
    min-heigth: 20px;
    
}

 
.bd-minimal .guilds-wrapper .guilds .guild.selected:before{
	width: 10px;
    heigth: 10px;
    
}


.bd-minimal .guild-header header span{
	font-size: 19px;
    
}

.bd-minimal 
.guilds.unread .guild-inner:before,
.bd-minimal
.guild-channels 
.channel-text.unread:not(.selected):not(.channel-muted):before{
	top: 8px;
}

.bd-minimal .guilds-wrapper .guilds .friends-online{left: -20px}

.bd-minimal .channel-members .avatar-small{
	max-width: 50px;
    max-height: 50px;
    background-size: cover;

} 

.bd-minimal .account .account-details .discriminator{
	display: none;
}

.bd-minimal .account .btn-group{
	padding-right: 30px !important;
    border: none !important;
}

.bd-minimal .guild-header ul a{
    font-size: 13px;
    margin: none;
    padding: none;
}

.bd-minimal .guilds-wrapper .guilds .friends-online{
	padding-left: 15px !important;
}

.bd-minimal .channel-text a, .bd-minimal .guild-channels ul .channel-voice {
	padding-left: 15px !important;
}

.bd-minimal .guild-channels header span{
	display: none;
}

.bd-minimal .channels-wrap{
	width: 55px;
    transition: .2s ease;
}

.bd-minimal .channels-wrap:hover{
	width: 180px;
    transition: .2s ease;
}

.bd-minimal #voice-connection .voice-connection-status{
	font-size: 13px;
}

.bd-minimal #voice-connection .voice-connection-status .ping{
	background: transparent;
    display: none;
}

.bd-minimal 
.channel-members 
.member 
.member-activity,
.bd-minimal
.channel-members 
.member 
.member-username-inner{
    padding-left: 10px;
    margin-right: 15px !important;
}

.bd-minimal .channel-members .avatar-small{
	left: 15px !important;
}

.bd-minimal div.scroller.messages {
    background: transparent;
}

.bd-minimal div.message-group {
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}



/* COMPACT MODE */

.theme-dark 
.friends-table 
.messages 
.message-group.compact 
.timestamp, 
.theme-dark 
.messages-wrapper 
.messages 
.message-group.compact 
.timestamp{
    font-family: courier;
    font-size: 18px;
}

.message-group.compact 
.message 
.markup 
.message-content{font-family: courier;}

.theme-dark 
.friends-table 
.messages 
.message-group.compact 
.user-name,
.theme-dark 
.messages-wrapper 
.messages 
.message-group.compact 
.user-name:before{content: ">" !important;}

.theme-dark 
.friends-table 
.messages 
.message-group.compact 
.user-name,
.theme-dark 
.messages-wrapper 
.messages 
.message-group.compact 
.user-name{
	font-size: 25px !important;
    font-family: Consolas !important;
}

.theme-dark 
.friends-table 
.messages 
.message-group.compact 
.user-name,
.theme-dark 
.messages-wrapper 
.messages 
.message-group.compact 
.user-name:after{content: ": " ;}
